<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="global.sesoc.tp.dao.SchedulesMapper"><!-- 이부분 중요함. 인터페이스와 일치시켜주어야 함 -->
	<insert id = "insertSchedule" parameterType="schedules">
		insert into schedules
		values
		(#{userBn},#{tradeNo},#{schedulesaddress},#{coordinates},#{staffId},#{title},#{startTime},schedules_seq.nextval,#{tradeStatus},#{color})
	</insert>
	
	<select id="readSchedule" parameterType="String" resultType="schedules">
		select * from schedules
		where staffId=#{staffId}
	</select>
	
	<delete id="deleteSchedule" parameterType="int">
		delete schedules
		where schedulesNum=#{schedulesNum}
	</delete>
	
	<delete id="deleteAllSchedule" parameterType="String">
		delete schedules
		where staffId=#{staffId}
	</delete>
	
	<select id="readOneSchedule" parameterType="int" resultType="schedules">
		select * from schedules
		where schedulesNum=#{schedulesNum}
	</select>
	
	<update id="UpdateSchedule" parameterType="schedules">
		update schedules
		set
			title=#{title},
			startTime=#{startTime},
		where
			schedulesNum=#{schedulesNum}
	</update>
	
	

	<!-- <select staffId="selectList" parameterType="String" resultType="Board">
	SELECT * FROM BOARD8
	<if test="_parameter != null and _parameter != ''">
	WHERE
		title LIKE '%'||#{searchText}||'%'
	</if>
	ORDER BY
	BOARDNUM DESC
	</select> -->
	
	
	<!-- <select staffId="selectAllBoard" resultType="Board">
		select * from board8
		<if test="_parameter != null and _parameter != ''">
		WHERE
		title LIKE '%'||#{searchText}||'%'
		</if>
		order by 
		boardnum desc
	</select>
	
	<select staffId="selectOneBoard" parameterType="integer" resultType="Board">
		select * from board8
		where boardnum=#{boardnum}
	</select>
	
	<update staffId="hitNum" parameterType="int">
		update board8
		set
			hits=hits+1
		where 
			boardnum=#{boardnum}
	</update>
	
	<update staffId="updateBoard" parameterType="Board" >
		update board8
		set
			title = #{title},
			content = #{content},
			inputdate = SYSDATE
			<if test="originalfile != null and savedfile != null">
			,
			originalfile = #{originalfile},
			savedfile = #{savedfile}
			</if>
		where 
			boardnum=#{boardnum}
	</update>
	
	<select staffId="selectBoardCount" resultType="int">
      select
      count(*)
      from
      board8
      <if test="_parameter != null and _parameter != ''">
			WHERE
			title LIKE '%'||#{searchText}||'%'
		</if>
   </select>
   
   <delete staffId="deleteBoard" parameterType="int">
   	delete from board8
   	where boardnum=#{boardnum} 
   </delete> -->

</mapper>
