<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="global.sesoc.tp.dao.SchedulesMapper"><!-- 이부분 중요함. 인터페이스와 일치시켜주어야 함 -->
	<insert id = "insertSchedule" parameterType="schedules">
		insert into schedules
		values
		(#{userBn},#{tradeNo},#{schedulesaddress},#{coordinates},#{staffId},#{title},#{startTime},schedules_seq.nextval,#{tradeStatus},#{color},"")
	</insert>
	
	<select id="readSchedule" parameterType="String" resultType="schedules">
		select * from schedules
		where staffId=#{staffId}
	</select>
	
	<select id="readSchedules" parameterType="String" resultType="schedules">
		select * from schedules
		where userBn=#{userBn}
	</select>
	
	<delete id="deleteSchedule" parameterType="int">
		delete schedules
		where schedulesNum=#{schedulesNum}
	</delete>
	
	<delete id="deleteAllSchedule" parameterType="String">
		delete schedules
		where staffId=#{staffId}
	</delete>
	
	<select id="readOneSchedule" parameterType="int" resultType="schedules">
		select * from schedules
		where schedulesNum=#{schedulesNum}
	</select>
	
	<update id="UpdateSchedule" parameterType="schedules">
		update schedules
		set
		staffId = #{staffId},
		tradeNo = #{tradeNo},
		schedulesaddress = #{schedulesaddress},
		startTime = #{startTime},
		title = #{title},
		coordinates = #{coordinates},
		remark = #{remark}
		where
			schedulesNum=#{schedulesNum}
	</update>
	
	<update id="UpdateStatus" parameterType="schedules">
		update schedules
		set
			tradeStatus = 1,
			remark = #{remark}
		where
			schedulesNum=#{schedulesNum}
	</update>

</mapper>
