<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.tp.dao.StaffMapper">
	<insert id="staff_profile" parameterType="Staff">
		insert into staff_profile(
		userBn
		,staffNo
		,positionDiv
		,staffName
		,staffIdno
		,staffCellNo
		,staffTellNo
		,staffEmail
		,staffZipcode
		,staffAddress
		,staffSalary
		,bankDiv
		,staffAccountNo
		,staffIndate
		,staffNote
		,staffId
		,staffPassword
		<if test="originalfile != null and savedfile != null">
			,originalfile
			,savedfile
		</if>
		)
		values (
		#{userBn}
		,staffNo_seq.nextval
		,#{positionDiv}
		,#{staffName}
		,#{staffIdno}
		,#{staffCellNo}
		,#{staffTellNo}
		,#{staffEmail}
		,#{staffZipcode}
		,#{staffAddress}
		,#{staffSalary}
		,#{bankDiv}
		,#{staffAccountNo}
		,#{staffIndate}
		,#{staffNote}
		,#{staffId}
		,#{staffPassword}
		<if test="originalfile != null and savedfile != null">
			 ,#{originalfile}
			 ,#{savedfile}
		</if>
		)
	</insert>


	<select id="staffList" resultType="Staff">
		select 
		*
		from staff_profile
		where userBn = #{userBn}
	</select>
	
	<select id="getInfo" resultType="Staff">
		select 
		*
		from staff_profile
		where staffNo = #{staffNo}
	</select>
	
	<select id="getId" resultType="Staff">
		select staffId
		from staff_profile
		where userBn = #{userBn}
	</select>
	
	
	<select id="login" parameterType="Staff" resultType="String">
		select staffNo
		from staff_profile where staffId = #{staffId} and staffPassword =
		#{staffPassword}
	</select>

	<update id="update_staff_profile" parameterType="Staff">
		update
		staff_profile 
		set 
		positionDiv = #{positionDiv}
		,staffCellNo = #{staffCellNo}
		,staffTellNo = #{staffTellNo}
		,staffEmail = #{staffEmail}
		,staffZipcode = #{staffZipcode}
		,staffAddress = #{staffAddress}
		,staffSalary = #{staffSalary}
		,bankDiv = #{bankDiv}
		,staffAccountNo = #{staffAccountNo}
		,staffNote = #{staffNote}
		<if test="originalfile != null and savedfile != null">
			, originalfile = #{originalfile}
			, savedfile = #{savedfile}
		</if>
		where staffNo = #{staffNo}
		
	</update>


	<delete id="delete_staff_profile" parameterType="Staff">
		delete from
		staff_profile 
		where 
		staffNo = #{staffNo} 
		and 
		userBn = #{userBn}
	</delete>
	
	<select id="staff_id_chk" parameterType="String" resultType="int">
		select
		count(*) from staff_profile where staffId = #{String}
	</select>
	
	<select id="get_staff" parameterType="String" resultType="Staff">
		select * from staff_profile where userBn = #{String}
	</select>
	
	<select id="readOneAccount" resultType="Staff" parameterType="String">
		select * from staff_profile
		where staffId=#{String}
	</select>

</mapper>